<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h3>Follow below steps for integration</h3>
<ul>
  <li>
    <h4>Create an angular app using angular-cli</h4><br/>
    <b>$ng new angular-circleci-firebase</b>
  </li><br/>
  <li>
    <h3>GIT setup</h3>
    <p>
        Create a New Repository:<br/>
        Login into your GitHub account and go to your repositories and create new.
    </p><br/>
    <p>
        Enable git integration in our project by following below steps:
        <code>$cd your-project-folder</code>
        <code>$git init</code>
        <code>$git add .</code>
        <code>$git commit -m "first commit"</code>
        <code>$git remote add origin "repository URL generated above after creating repository."</code>
        <code>$git push -u origin master</code>
    </p>
  </li><br/>
  <li>
    <h3>Deploy to Firebase</h3>
    <ul>
      <li>
        First you need to create a project in Google Firebase, go to <a href="https://console.firebase.google.com/" target="_blank">Google Firebase console</a> and setup the project.
      </li>
      <li>
          <h4>Install Firebase Tools</h4>
          <p>Install Firebase tools globally using below command:</p>
          <code>$ sudo npm install -g firebase-tools</code>
      </li>
      <li>
          <h4>Configure Firebase</h4>
          <p>
            Now login Firebase with your Google account using below command.
            This command will redirect to Google account login page.
          </p>
          <code>$ firebase login</code>
      </li>
      <li>
          <h4>Initialize Firebase</h4>
          <p>Go to your angular2 project folder and execute following command.</p>
          <code>$ firebase init</code>
          <p>
            For below question give directory name as dist.<br/>
            What do you want to use as your public directory? dist
          </p>
      </li>
      <li>
          <h4>Production Build</h4>
          <p>
            in angular.json
            Go to your project and modify the outputPath value to dist.<br/>
            "outputPath": "dist/your-project-name"<br/>
            to<br />
            "outputPath": "dist",<br/>
            Use below command to build the final build, this will generate dist folder with all required packages.
            <code>$ ng build --prod</code>
          </p>
      </li>
      <li>
          <h4>Firebase Push</h4>
          <code>$ firebase deploy</code>
          <p>
              Wait for deploy complete message.<br/>
              Will get the below URLs in the end:<br/>
              Project Console: https://console.firebase.google.com/project/angular-circleci-firebase/overview
              Hosting URL: https://angular-circleci-firebase.firebaseapp.com
          </p>
      </li>
    </ul>
  </li>
  <li>
    <h3>Configure CircleCi</h3>
  </li>
</ul>

<router-outlet></router-outlet>
