<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Follow below steps for integration: </h2>
<ul>
  <li>
    Create an angular app using angular cli:<br/>
    <b>$ng new angular-circleci-firebase</b>
  </li>
  <li>
      Create a New Repository:<br/>
      Login into your GitHub account and go to your repositories and create new.
  </li>
  <li>
    Enable git integration in our project by following below steps:
    <ul>
      <li>$cd your-project-folder</li>
      <li>$git init</li>
      <li>$git add .</li>
      <li>$git commit -m "first commit"</li>
      <li>$git remote add origin "repository URL generated above after creating repository."</li>
      <li>$git push -u origin master</li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>
